*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 16px;
}

.rt-section-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 88px 6.4% 68px;
}
@media screen and (min-width: 720px) {
  .rt-section-hero {
    padding-inline: max(6.4%, 50vw - 350px);
  }
}
@media screen and (min-width: 1200px) {
  .rt-section-hero {
    flex-direction: row;
    justify-content: space-between;
    padding: 121px calc(50vw - 550px);
  }
}
.rt-section-hero::before {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  z-index: -2;
  background-color: #ff7a7a;
}
.rt-section-hero .background {
  position: absolute;
  inset: 0 0 0 0;
  z-index: -1;
}
.rt-section-hero .background .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
@media screen and (min-width: 1200px) {
  .rt-section-hero .h1-header {
    margin-top: 169px;
    width: 525px;
  }
}
.rt-section-hero .h1-header .h1-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.291667px;
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .rt-section-hero .h1-header .h1-title {
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -0.520833px;
    text-align: left;
  }
}
.rt-section-hero .h1-header .h1-description {
  margin-top: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .rt-section-hero .h1-header .h1-description {
    text-align: left;
    margin-top: 32px;
  }
}

.rt-section-hero .form-container {
  margin-top: 64px;
}
@media screen and (min-width: 1200px) {
  .rt-section-hero .form-container {
    margin-top: 0;
    width: 540px;
  }
}
.rt-section-hero .form-container .h2-title {
  padding: 18px 17.6%;
  background-color: #6055a5;
  color: white;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.267857px;
}
.rt-section-hero .form-container .h2-title strong {
  font-weight: 700;
}
.rt-section-hero .form-container .form {
  margin-top: 24px;
  padding: 24px;
  background-color: #fff;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 1200px) {
  .rt-section-hero .form-container .form {
    padding: 40px;
    gap: 20px;
  }
}
.rt-section-hero .form-container .form .input-item {
  position: relative;
}
.rt-section-hero .form-container .form .input {
  width: 100%;
  height: 56px;
  border: 1px solid #dedede;
  border-radius: 5px;
  padding-inline: 19px;
}
.rt-section-hero .form-container .form .label {
  position: absolute;
  height: 56px;
  display: flex;
  align-items: center;
  top: 0px;
  left: -100vw;
  padding-left: 19px;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.25px;
  color: #3e3c49;
  width: 100%;
}
.rt-section-hero .form-container .form .icon-error {
  position: absolute;
  top: 16px;
  right: 16px;
}
.rt-section-hero .form-container .form .error-message {
  margin-top: 6px;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  text-align: right;
  color: #ff7979;
}
.rt-section-hero .form-container .form .input:placeholder-shown + .label {
  left: 0px;
}
.rt-section-hero .form-container .form .submit {
  width: 100%;
  height: 56px;
  background: #38cc8c;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}
.rt-section-hero .form-container .form .submit:hover {
  background-color: #77e2b3;
}
.rt-section-hero .form-container .form .terms {
  margin-top: -8px;
  font-weight: 500;
  font-size: 11px;
  line-height: 21px;
  text-align: center;
  color: #b9b6d3;
  width: 89.247311828%;
}
.rt-section-hero .form-container .form .terms a {
  font-weight: 700;
  color: #ff7a7a;
}

.rt-footer .attribution {
  font-size: 14px;
  text-align: center;
}
.rt-footer .attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22index.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAgCA;AAAA;AAAA;EAGE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;EACA;EACA;EACA;;AA1CA;EAsCF;IAOI;;;AA7CF;EAsCF;IAWI;IACA;IACA;;;AAGF;EACE;EACA;EACA;EACA;EACA,kBAjDE;;AAoDJ;EACE;EACA;EACA;;AAEA;EA7DF,OA8DkB;EA7DlB,QA6DwB;EACpB;EACA;;AAtEJ;EA0EA;IAEI;IACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA,OAvEE;;AAfN;EAgFE;IASI;IACA;IACA;IACA;;;AAIJ;EACE;EACA;EACA;EACA;EACA;EACA,OAvFE;;AAfN;EAgGE;IASI;IACA;;;;AAMR;EACE;;AAjHA;EAgHF;IAII;IACA;;;AAGF;EACE;EACA,kBA9GG;EA+GH;EACA;EACA;EAEA;EACA;EACA;EACA;EACA;;AAEA;EACE;;AAIJ;EACE;EACA;EACA,kBA9HI;EA+HJ;EACA;EACA;EACA;EACA;;AAlJF;EA0IA;IAWI;IACA;;;AAGF;EACE;;AAGF;EAvJF,OAwJkB;EAvJlB,QAuJwB;EACpB;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA,OAnKM;EAoKN;;AAGF;EACE;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;;AAGF;EAnMF,OAoMkB;EAnMlB,QAmMwB;EACpB,YAhME;EAiMF;EACA;EACA;EACA;EACA;EACA;EACA,OAnME;EAoMF;EACA;;AAEA;EACE;;AAIJ;EACE;EACA;EACA;EACA;EACA;EACA,OAnNS;EAoNT;;AAEA;EACE;EACA,OA5NF;;;AAmOJ;EACE;EACA;;AAEF;EACE%22,%22file%22:%22index.css%22%7D */
